
    // PRIMARY //
$clr-100 : hsl(223, 87%, 63%);
$clr-110 : hsl(223, 89%, 70%);
    // SECONDARY //
$clr-200 : hsl(223, 100%, 88%);
$clr-300 : hsl(354, 100%, 66%);

    // NEUTRAL //
$clr-400 : hsl(0, 0%, 59%);
$clr-500 : hsl(209, 33%, 12%);

$ff-1 : 'Karla', sans-serif;

$fs-1 : 20px ;

$fw-1 : 300;
$fw-2 : 600;
$fw-3 : 700;

$flx : flex; $grd : grid ;
$cntr : center; $strt : start; $end : end; $btwn : space-between; $arnd : space-around; $evnly : space-evenly;

